* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: #fff;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

main {
  padding: 2rem;
}

footer {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#back-to-top-btn {
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: .5rem 1.5rem;
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  cursor: pointer;
  display: none;
}