* {
  font-family: 'Menlo', 'Arial';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container,
.register-container,
.register-logo, 
.register-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  height: 100vh;
}

.register-container {
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  padding: 50px;
}

.register-form {
  display: grid;
  grid-template-columns: 360px;
  row-gap: 17px;
}

.register-user-info,
.register-logo {
  margin-bottom: 25px;
}

.register-user-info {
  display: grid;
  align-items: center;
  justify-content: center;
  & input[type=text],
  input[type=password],
  input[type=email] {
    width: 320px;
    height: 36px;
    border-radius: 4px;
    border: none;
    margin-bottom: 24px;
    } p {
      margin-bottom: 7px;
  }
}

.register-button button {
      height: 36px;
      width: 80px;
      border: none;
      border-radius: 4px;
      margin: 0 27px;
      cursor: pointer;  
    }