.nav-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #666;
}

.navbar-brand-title a {
  margin: 15px;
  font-size: 28px;
  color: #fff;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li{
  padding: 5px;
  display: flex;
  align-items: center;
}

.navbar-links li a{
  font-size: 17px;
  color: #fff;
  display: block;
  margin-right: 7px;
}

.navbar-links li:hover {
  background-color: #999;
}

.navbar-links img {
    width: 45px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 7px;
    margin-left: 7px;
}

.toggle-button {
  position: absolute;
  right: 16px;
  top: 13px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .nav-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0px 3px 0px;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-links li a {
    padding: 8px 16px;
  }

  .navbar-links.active {
    display: flex;
  }
}
