@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Arial';
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    background-color: #fff;
}

nav:nth-child(2) {
    border-top: 1px solid #c1c1c1;
}

.secondary-nav-container,
.primary-nav-container {
    display: flex;
    justify-content: space-between;
}

.secondary-nav-container .nav-links ul,
.secondary-nav-container .nav-contact ul,
.primary-nav-container .nav-links ul {
    display: flex;
    list-style: none;
}

.primary-nav-container {
    align-items: center;
    margin: 1rem 0;
}

.secondary-nav-container {
    margin: .5rem 0;
    padding: .3rem 0;
}

.secondary-nav-container .nav-links ul li,
.secondary-nav-container .nav-contact ul li,
.primary-nav-container .nav-links ul li {
    margin-right: 10px;
}

.secondary-nav-container .nav-links a {
    color: #fff;
}

.secondary-nav-container .nav-contact {
    text-decoration: none;
    color: #c1c1c1;
}

.secondary-nav-container .nav-contact ul li {
    margin-right: 1rem;
}

.secondary-nav-container .nav-contact ul li:nth-child(1) {
    border-right: 1px solid #c1c1c1;
    padding-right: 1rem;
}


.secondary-nav-container .nav-contact i {
    color: orangered;
}

.secondary-nav-container .nav-links ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c1c1c1;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    transition: background-color .3s;
}

.secondary-nav-container .nav-links ul li:hover {
    background-color: orangered;
}

.primary-nav-container .nav-logo a,
.primary-nav-container .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.primary-nav-container .nav-links ul li {
    margin-right: 2rem;
    display: flex;
    align-items: center;
}

.primary-nav-container .nav-logo a {
    font-size: 2rem;
    color: black;
    letter-spacing: .3rem;
    font-weight: 600;
}

.primary-nav-container .nav-links ul li a {
    transition: color .3s;
}

.primary-nav-container .nav-links ul li a:hover {
    color: #ff4500;
}

.primary-nav-container .nav-links ul li:first-child a {
    color: #ff4500;
}

.primary-nav-container .nav-links ul li:last-child a {
    background-color: #000;
    text-transform: none;
    border-radius: 20px;
    padding-left: 0;
    color: #fff;
    padding: .05rem;
    padding-left: 0;
    padding-right: 15px;
    font-size: 14px;
}

.primary-nav-container .nav-links ul li:last-child a:hover {
    color: #ff4500;
}

.primary-nav-container .nav-links ul li:last-child i {
    background-color: #ff4500;
    text-transform: none;
    border-radius: 20px;
    padding-left: 0;
    color: #fff;
    padding: .6rem;
}

header {
    background-image: url('../images/banner-01.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
}

.header-container {
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-self: start;
    color: #fff;
    padding: 10rem 0;
}

.header-container .position {
    background-color: #fff;
    text-align: center;
    width: 30%;
    color: #000;
    margin-bottom: 1rem;
}

.header-container .position span {
    color: #ff4500;
}

.header-container .title {
    text-transform: uppercase;
}

.featured {
    margin: 5rem 0;
}

.featured-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
}

.featured-image {
    position: relative;
}

.featured-image a {
    position: absolute;
    top: 85%;
    right: 83%;
    background-color: #ff4500;
    padding: 2rem;
    border-radius: 50%;
}

.featured-item-container a i {
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

.featured-item-container .title h1 {
    font-size: 2rem;
}

.featured-item-container .title p {
    color: #ff4500;
    font-weight: 600;
}

.featured-item-container .title h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.featured-item-container .info-container {
    background-color: #f0f0f0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    padding: .5rem;
    border-radius: 5px;
}

.info-item {
    border-bottom: 1px solid #d7d7d7;
}

.info-item:last-child {
    border: none;
}

.featured-item-container .info-container .title h3 {
    font-weight: 500;
    font-size: 1rem;
}

.featured-item-container .info-container .des {
    display: none;
}

.featured-item-box {
    background-color: #fff;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    padding: 2rem;
    border: none;
    border-radius: 10px;
}

.item {
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid #f0f0f0;
}

.item:last-child {
    border: none;
}

.item p span {
    font-size: 1.3rem;
    font-weight: 600;
}

.video {
    background-image: url('../images/banner-03.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    gap: 5rem;
}

.video-title p {
    text-transform: uppercase;
    color: #ff4500;
    font-weight: 600;
    text-align: center;
}

.video-title h1 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

.video-preview {
    position: relative;
}

.video-preview img {
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}


.video-preview a i {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    background-color: #fff;
    color: rgb(255, 69, 0);
    padding: 1rem;
    outline: rgba(254, 85, 37, 0.5) solid 15px;
}

.task-result-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.task-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffd1c0;
    width: 230px;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 5rem;
}

span i {
    position: absolute;
    top: -20%;
    color: #ff4500;
    font-size: 3rem;
}

.task-item span:first-child {
    font-size: 2rem;
    font-weight: 600;
    color: #ff4500;
}

.task-item span:nth-child(2) {
    font-weight: 600;
    color: #000;
}

