* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Menlo';
  scroll-behavior: smooth;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  width: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.nav-links li {
  margin-right: 20px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

h1 {
  color: #fff;
  font-size: 50px;
  text-shadow: 1px 1px 4px #000;
}

.first-page { 
  background-color: rgb(36, 164, 138);
}
.second-page {
  background-color: rgb(249, 99, 199);
}
.third-page {
  background-color: rgb(74, 92, 255);
}
.fourth-page {
  background-color: rgb(253, 166, 60);
}