* {
  margin: 0;
  padding: 0;
  font-family: 'Menlo', 'sans-serif';
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  justify-content: center; /* could be : end */
  align-content: center; /* could be : end */
  background-color: #e8e8e8;
  padding: 50px;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background-color: #fff;
}

footer .container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

footer .container .section h2 {
  position: relative;
  color: #333;
  font-weight: 600;
  margin-bottom: 15px;
}

footer .container .section p {
  color: #555;
}

footer .container .social-media-links {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
}

footer .container .social-media-links li{
  list-style: none;
}

footer .container .social-media-links li a {
  
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #222;
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

footer .container .social-media-links li a i{ 
  color: #fff;
  font-size: 20px;
}

footer .container .quick-links {
  position: relative;
}

footer .container .quick-links ul li{
  list-style: none;
}

footer .container .quick-links ul li a{
  color: #555;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

footer .container .contact .info {
  position: relative;
}

footer .container .contact .info li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}

footer .container .contact .info li span {
  color: #555;
  font-size: 20px;
}

footer .container .contact .info li a {
  color: #555;
  text-decoration: none;
}

.copyrightText {
  width: 100%;
  background: #fff;
  padding: 20px 100px;
  text-align: center;
  color: #555;
  border: 1px solid rgba(0 , 0, 0, 0.15);
}

@media (max-width: 991px) {
  footer {
    padding: 40px;
  }

  footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
  }

  .copyrightText {
    padding: 20px 40px 30px;
  }
}

@media (max-width: 768px) {
  footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 20px;
  }
}