* {
  font-family: 'Menlo', 'Arial';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.flex-container,
.sign-in-footer,
.sign-in-button,
#login-logo {
  display: grid;
  align-items: center;
  justify-content: center;
}

.flex-container {
  height: 100vh;
  background-image: url("https://img.freepik.com/free-photo/view-spectacular-nature-landscape_23-2150763636.jpg");
  background-size: cover;
}

.sign-in-container {
  background-color: rgba(75, 75, 75, 0.3);
  border: none;
  border-radius: 33px;
  width: 460px;
  height: 520px;
  padding: 88px 44px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 16px 0px;
}

#login-logo {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 28px;
}

.sign-in-form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 7px;
  } & p {
    color: #fff;
  } & input {
    border: none;
    border-radius: 4px;
    width: auto;
    height: 36px;
    padding-left: 10px;
    transition: background-color 0.2s;
  }

input:focus {
  background-color: #ffe7cb;
}



.sign-in-footer {
  display: grid;
  grid-template-columns: 245px;
  justify-content: center;
  margin-top: 45px;
}

.sign-in-button button{
  width: 120px;
  height: 36px;
  border: none;
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: opacity 0.15s, background-color 0.3s;
}

.sign-in-button button:hover {
  color: black;
  background-color: #ffb638;
  opacity: 0.7;
}

.sign-in-button button:active {
  opacity: 1;
}

.not-member-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

a {
  margin-top: -15px;
  color: #ffb638;
  cursor: pointer;
  transition: color 0.15s, opacity 0.15s;
}

a:hover {
  color: #ffb638;
  opacity: 0.7;
}

